*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
}
nav a{
    font-size: 12px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(5, 5, 5);
    cursor: pointer;
    padding: 5px 7.7px;
}
nav a:hover{
    text-decoration: underline;
    
}
.section-1{
    flex: 1;
}
.section-1 .logo{
    display: block;
    margin: 0px auto;
    margin-top: 80px;
    margin-bottom: 20px;
    block-size: 100.9px;
}
.s-box{
    width: 580px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;  
}
.s-box .s-input{
    display: block;
    border: 1px solid #ddd;
    color: rgba(0,0,0, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    outline: none;
    box-shadow: rgba(2, 2, 2, 0.659);
    margin-top: 0.5px;
}
.s-box .s-input:hover{
    border: 1px solid rgb(194, 192, 192);
    box-shadow: rgba(4, 4, 4, 0.111);
}
.s-box .glass-icon{
    width: 30px;
    opacity: .6;
    position: absolute;
    top: 9px;
    left: 9px;
}
.s-box .mic-2-icon{
    width: 25px;
    position: absolute;
    top: 6px;
    right: 60px;
    cursor: pointer;
}
.s-box .camera-icon{
    width: 25px;
    position: absolute;
    top: 7px;
    right: 100px;
    align-items: center;
    cursor: pointer;
}
.s-box .search-icon{
    width: 25px;
    position: absolute;
    top: 11px;
    right: 22px;
    align-items: center;
    cursor: pointer;
}
footer{
    background: #f2f2f2;
}
footer h4 {
    color: rgba(0,0,0, 0.54);
    font-size: 15px;
    line-height: 39.5px;
    font-weight: 400;
    padding-left: 29px;
    border: 1px solid #eee;
}
footer a{
    color: #5f6368;
    display: inline-block;
    padding: 12px 11.3px;
    font-size: 13px;
}
footer a:hover{
     text-decoration: underline;
}
.links{
    border-top: 1px solid #ddd;
    display: flex;
}
.link-1{
    padding-left: 18.7px;
    flex: 1;
}
.link-2{
    padding-right: 18.7px;
}